
*, :after, :before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
}

body, select {
  font-family: var(--body-font-family);
}

body {
  background: var(--body-bg);
  color: var(--body-color);
  font-size: var(--step-0);
}

header {
  padding: var(--space-s-m);

  & .theme-list {
    display: flex;
    gap: var(--space-m);
    justify-content: flex-end;

    & li {
      cursor: pointer;
      font-size: var(--step-1);
    }

    & .active {
      color: #ffc107;
    }
  }
  
  & .site-header {
    margin-block-start: var(--space-l);
    display: block;
    color: var(--header-color);
    font-family: var(--header-font-family);
    font-size: var(--font-size-header);
    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

aside, footer {
  margin-block-end: var(--space-xs);

  & nav {
    color: var(--link-color);
    margin-inline: auto;
    max-inline-size: var(--max-inline-size);

    & ul {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-xs);
      justify-content: center;
      list-style: none;
      margin-block-end: var(--space-s);
      margin-inline-start: 0;
      text-align: center;
      width: 100%;

      & li {
        display: inline-block;

        & a {
          display: inline-block;
          padding: var(--space-3xs);
        }
      }
    }
  }
}

footer {
  margin-block-start: var(--space-m);
  text-align: center;
}

main {
  margin-inline: auto;
  width: clamp(16rem, 95vw, 70rem)
}

hr {
  width: 80%;
  margin-inline: auto;
  margin-block: var(--space-s);
  border-block-start: var(--border-width) solid var(--border-color);
}