blockquote {
  color: var(--blockquote-color);
  background: var(--blockquote-bg);
  border-inline-start: 0.3rem solid var(--blockquote-border-color);
  margin-inline-start: var(--space-s);
  padding: var(--space-s-m) var(--space-m-l);

  & > blockquote {
    margin-inline-start: 0;
  }
}

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

h4 {
  font-size: var(--step-0);
}

h5 {
  font-size: var(--step-0);
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

h6 {
  font-size: var(--step-0);
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  color: var(--heading-color);
  overflow-wrap: break-word;
}

p {
  line-height: 1.5;
  overflow-wrap: break-word;
}

ol, ul {
  margin-inline-start: var(--space-l);

  &[class]:not(.footnotes-list) {
    list-style: none;
  }

  & ol, & ul {
    margin-block-start: var(--space-xs);
  }
}

ol > * + *, ul:not(nav > ul) > * + * {
  margin-block-start: var(--space-xs);
}

a {
  color: var(--link-color);
  font-weight: var(--link-font-weight);
  text-decoration: var(--link-decoration);

  &:hover {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-decoration);
  }
}

code, pre {
  font-family: var(--font-family-monospace);
}

code:not(pre > code) {
  color: var(--inline-code-color);
  background: var(--inline-code-bg);
  word-break: break-word;
}

kbd {
  color: var(--kbd-color);
  background: var(--kbd-bg);
}

pre > code {
  display: block;
  max-width: 100%;
  overflow: scroll;
  white-space: pre-wrap;
  padding: var(--space-s);
}

abbr {
  cursor: help;
}

.content {
  max-inline-size: var(--max-inline-size);
  margin-inline: auto;
  padding-block: var(--space-s);
}

.content, blockquote {
  & > * + {
    & *:where(:not(.no-flow)) {
      margin-block-start: var(--space-s);
    }

    & h1, h2, h3, h4, h5, h6 {
      margin-block-start: var(--space-l);
    }
  }
}

table:not([class]) {
  color: var(--table-color);
  vertical-align: top;
  border-style: solid;
  border-color: var(--table-border-color);
  border-width: var(--table-border-width);
  border-collapse: collapse;

  & > tbody {
    vertical-align: inherit;
  }

  & > thead > * > * {
    vertical-align: bottom;
    border-block-end-width: calc(2 * var(--table-border-width));
  }

  & > :not(caption) > * {
    border-style: solid;
    border-color: var(--table-border-color);
    border-width: var(--table-border-width);

    & > * {
      padding: var(--space-2xs);
      background: var(--table-bg);
      border-style: solid;
      border-color: var(--table-border-color);
      border-width: var(--table-border-width);
    }
  }
}

article, .page-heading {
  max-inline-size: var(--max-inline-size);
  margin-inline: auto;
}

article img {
  display: block;
  margin-inline: auto;
  max-width: 80%;
}

.post-subtitle {
  margin-block-start: var(--space-3xs);
  color: var(--body-color-secondary);
  font-weight: 500;
  font-style: italic;
  font-size: var(--step-1);
  font-family: var(--heading-font-family);
}

.post-meta {
  margin-block-start: var(--space-3xs);
  font-size: var(--step--1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .tags {
    display: flex;
    flex-wrap: wrap;
  }
}